:root {
    --uiuc-blue: rgba(19, 41, 75, 1.0);
    --uiuc-orange: rgba(232, 74, 39, 1.0);
    --uiuc-second-blue: rgba(5, 86, 165, 1.0);
    --uiuc-third-blue: rgba(32, 64, 151);
}

.tabs .tab a:hover, .tabs .tab a.active {
	background-color: transparent;
  color: var(--uiuc-blue);
}

a {
    color: var(--uiuc-second-blue);
    font-weight: 400;
    font-size: 104%;
}

.tabs .tab a
{
  background-color: transparent;
  color: var(--uiuc-blue);
  font-size: 110%;
}

.tabs .indicator {
    background-color: var(--uiuc-blue);
    height:4px;
}

.table-of-contents a.active {
    border-left: 2px solid var(--uiuc-blue);
}

blockquote {
    border-left: 5px solid var(--uiuc-blue);
}

.moose-parameter-name{
    color:var(--uiuc-second-blue);
}

nav,
.btn,
.btn-small,
.btn-large,
footer.page-footer{
    background-color:var(--uiuc-blue);
}

.side-nav .collapsible ul:last-child a.active:last-child,
.side-nav.fixed .collapsible ul:last-child a.active:last-child{
    background-color:var(--uiuc-blue);
    color:#fff;
    font-weight:500;
}

/* MOOSE SYNTAX LISTS */
.collection.with-header .collection-header {
    color:white;
    background-color: var(--uiuc-blue);
    font-size:larger;
    font-weight:100;
}

/* Dropdown Menu Text Color */
.dropdown-content li > a, .dropdown-content li > span {
    color: var(--uiuc-blue);
    font-weight:400;
}
