# This GitHub Action automatically updates built Doxygen files for Moltres' documentation
# on `https://arfc.github.io/moltres/` every time a new pull request is merged into devel.

name: Doxygen & MooseDocs & Github Pages Action

# Activate on pushes and pull requests into devel
on:
  push:
    branches: [ devel ]
    
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2

      # Generate Doxygen output files in ./doc/content/html directory using Doxyfile in
      # base directory
      - name: Doxygen Action
        uses: mattnotmitt/doxygen-action@v1
        with:
          working-directory: .
      
      # Install MOOSE Conda environment & update MooseDocs documentation
      - uses: conda-incubator/setup-miniconda@v2
        with:
          python-version: 3.9
          mamba-version: "*"
          channels: conda-forge,https://conda.software.inl.gov/public
          activate-environment: moose-env
      - shell: bash -l {0}
        run: |
          conda deactivate
          conda activate moose-env
          mamba install moose-tools moose-libmesh
          conda deactivate
          conda activate moose-env
          git submodule init && git submodule update
          cd doc
          ./moosedocs.py build --destination html
      
      # Merge Doxygen output files in ./docs into gh-pages branch base directory
      - name: GitHub Pages action
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./doc/html
          commit_message: ${{ github.event.head_commit.message }}

